<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <div class="register-page">

        <form class="register-container w-[40vw]" method="post">
            <div class="flex justify-between items-center">
                <div class="flex flex-col justify-end h-full">
                  
                        <h2>Sign Up as Admin</h2>
                        <p class="mt-1">Already have an account? <a href="/">Login Here.</a> </p>
                   
                </div>
            
                <div class="relative">
                    <label for="role" class="sr-only">Select Role:</label>
                    <select id="role" onchange="window.location.href=this.value;" class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-400 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                        <option value="{{ url_for('restaurantRegister') }}">Restaurant/Single Donor</option>
                        <option value="{{ url_for('ngoRegister') }}">NGO/Ashram Head</option>
                        <option value="{{ url_for('adminRegister',) }}">Admin</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9 11l3-3 3 3M12 17l-3-3-3 3" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="saperator-box">
                <div></div>
                <span >OR</span>
                <div></div>
            </div>

            <input type="text" name="role" value="Admin" hidden>

            <div class="form-component">
                <label for="">Your Email</label>
                <input type="text" name="email">
            </div>
            <div class="form-component">
                <label for="">Your Password</label>
                <input type="password" name="password">
            </div>
            <div class="form-component">
                <label for="">Confirm Password</label>
                <input type="password" name="confirm-password">
            </div>

            <button class="mt-8" type="submit">Sign Up</button>
        </form>

        <div class="right-content">
            <h3>Welcome To</h3>
            <h1>
                Food-Waste management
            </h1>
        </div>

    </div>

</body>

</html>