{% extends 'layout.html' %}

{% block content %}
    <div class="w-full flex bg-[#E3E3E1] min-h-[100vh] relative px-20 py-4 ">
        <div class="container mx-auto z-50 w-1/2">
            {% if donations|length > 0 %}
                <h1 class="font-bold my-4 text-xl">
                    Today's Donations:
                </h1>
                <ul class="list-none p-0 z-50 max-h-[75vh] overflow-y-scroll pr-10">
                    {% for index in range(length) %}
                        <div class="bg-white rounded-lg shadow-md overflow-hidden mb-4">
                            <!-- Placeholder for Image or Logo -->
                            <div class="w-1/3 float-left p-6">
                                <img src="{{ donations[index]['mealImage'] | default('../static/assets/food.jpg') }}" alt="Donation Image" class="w-full h-auto">
                            </div>
                            <!-- Donation Details -->
                            <div class="w-2/3 float-right p-4 flex flex-col gap-y-1">
                                <h2 class="text-lg font-bold">Donation From : <span class="text-lg font-[400]">{{ donations[index]['taker_name'] }}</span> </h2>
                                <p><strong>Quantity:</strong> {{ donations[index]['mealQuantity'] }}</p>
                                <p><strong>Date:</strong> {{ donations[index]['date'] }}</p>
                                <p><strong>Time:</strong> {{ donations[index]['time'] }}</p>
                                <p><strong>Status:</strong> {{ donations[index]['status'] }}</p>
                                <button onclick="showInfo('{{ loop.index }}')" class="more-info-button bg-blue-400 rounded-lg px-4 py-1 text-white border-none hover:bg-blue-600 w-fit">More Info</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    {% endfor %}
                </ul>
                
            {% else %}
                <p class="text-xl font-semibold">No donations today.</p>
            {% endif %}
        </div>
        <div class="w-1/2 " id="more-info-container">
            <!-- Detail of single donation will be displayed here -->
        </div>
    </div>

    <script> 
        var donationsData = '{{ donations | tojson | safe }}';
        const donations = JSON.parse(donationsData);
        console.log(donations);

        function showInfo(index) {
            const donationData = donations[index-1];
            var moreInfoContainer = document.getElementById('more-info-container');
            moreInfoContainer.innerHTML = `
            <div class="max-w-md mx-auto p-4">
                <h2 class="text-2xl font-bold mb-4">${donationData.donation_from}</h2>
                <div class="flex flex-wrap mb-4">
                    <div class="w-full md:w-1/2">
                        <p><strong>Item:</strong> ${donationData.item}</p>
                        <p><strong>Quantity:</strong> ${donationData.quantity}</p>
                        <p><strong>Date:</strong> ${donationData.date}</p>
                        <p><strong>Time:</strong> ${donationData.time}</p>
                        <p><strong>Status:</strong> ${donationData.status}</p>
                        <p><strong>Accepted By:</strong> ${donationData.accepted_by}</p>
                    </div>
                    <div class="w-full md:w-1/2">
                        <p><strong>Location:</strong> ${donationData.location}</p>
                        <p><strong>Phone:</strong> ${donationData.phone}</p>
                    </div>
                </div>
                <img src="${donationData.img}" alt="Donation Image" class="w-full h-auto">
                
            </div>
        `;
        }

        function acceptDonation(index){
            console.log(index)
        }
       
    </script>
{% endblock %}
