{% extends 'layout.html' %}

{% block content %}
    <div class="w-full flex bg-[#E3E3E1] min-h-[100vh] relative px-20 py-4 ">
        <div class="container mx-auto z-50 w-1/2">
            {% if suppliers_data|length > 0 %}
                <h1 class="font-bold my-4 text-xl">
                    Suppliers List
                </h1>
                <ul class="list-none p-0 z-50 max-h-[75vh] overflow-y-scroll pr-10">
                    {% for index in range(length) %}
                        <div class="bg-white rounded-lg shadow-md overflow-hidden mb-4">
                            <!-- Placeholder for Image or Logo -->
                            <div class="w-1/3 float-left p-6">
                                <img src="{{ suppliers_data[index]['img'] | default('../static/assets/user.png') }}" alt="User Image" class="w-full h-auto">
                            </div>
                            <!-- Supplier Details -->
                            <div class="w-2/3 float-right p-4 flex flex-col gap-y-2">
                                <h2 class="text-lg font-bold">Supplier: {{ suppliers_data[index]['name'] }}</h2>
                                <p><strong>Restaurant Name:</strong> {{ suppliers_data[index]['rname'] }}</p>
                                <p><strong>Address:</strong> {{ suppliers_data[index]['raddress'] }}</p>
                                <p><strong>License:</strong> {{ suppliers_data[index]['rlicense'] }}</p>
                                <p><strong>Date Added:</strong> {{ suppliers_data[index]['date'] }}</p>
                                <button onclick="showInfo('{{ loop.index }}')" class="more-info-button bg-blue-400 rounded-lg px-4 py-1 text-white border-none hover:bg-blue-600 w-fit">More Info</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-xl font-semibold">No suppliers available.</p>
            {% endif %}
        </div>
        <div class="w-1/2 p-8" id="more-info-container">
            <!-- Detail of single supplier will be displayed here -->
        </div>
    </div>

    <script>
        var suppliersData = '{{ suppliers_data | tojson | safe }}';
        const suppliers = JSON.parse(suppliersData);
        console.log(suppliers);

        function showInfo(index) {
            const supplierData = suppliers[index - 1];
            var moreInfoContainer = document.getElementById('more-info-container');
            moreInfoContainer.innerHTML = `
            <div class="max-w-md mx-auto p-4">
                <div class="flex items-center gap-4">
                    <img src="${supplierData.img}" alt="User Image" class="h-12 w-12">

                    <h2 class="text-2xl font-bold mb-4">${supplierData.name}</h2>
                </div>
                <div class="flex flex-wrap mb-4 mt-4">
                    <p><strong>Restaurant Name:</strong> ${supplierData.restaurant_name}</p>
                    <p class="mt-1"><strong>Restaurant Description:</strong> ${supplierData.restaurant_description}</p>

                    <div class="w-full md:w-1/2 mt-4">
                        <p><strong>Date:</strong> ${supplierData.date}</p>
                        <p><strong>Time:</strong> ${supplierData.time}</p>
                        <p><strong>People:</strong> ${supplierData.people}</p>
                    </div>
                    <div class="w-full md:w-1/2 mt-4">
                        <p><strong>Location:</strong> ${supplierData.location}</p>
                        <p><strong>Phone:</strong> ${supplierData.phone}</p>
                    </div>
                </div>
                
            </div>
        `;
        }
    </script>
{% endblock %}
